<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<form action="/join" method="post">
    <div>
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname">
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="mail">이메일:</label>
        <input type="email" id="mail" name="mail">
    </div>
    <button type="submit">가입하기</button>
</form>
</body>
</html>